In [1]:
import pandas as analytics
import numpy as maths
import warnings
import time
warnings.filterwarnings("ignore")

In [2]:
df_rated_movies = analytics.read_csv('rated_movies.csv')
user_id = df_rated_movies['user_id'].unique()[0]
df_rated_movies = df_rated_movies.drop(['user_id','timestamp'],axis = 1)
df_rated_movies

,movie_id,movie_title,rating,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),1,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7,Twelve Monkeys (1995),1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,1480,Herbie Rides Again (1974),0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
536,1490,Fausto (1993),0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
537,1518,Losing Isaiah (1995),1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
538,1521,Mr. Wonderful (1993),0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
539,1603,Angela (1995),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
genres = list(df_rated_movies.drop(['movie_id','movie_title','rating'],axis = 1).columns)
selected_genres = df_rated_movies[genres].sum().sort_values(ascending = False).reset_index(drop = False).iloc[:2]['index'].tolist()
print("Most Popular user #",user_id," are ",selected_genres,"\n")

df_rated_movies['class'] = df_rated_movies[selected_genres[0]] * 2 + df_rated_movies[selected_genres[1]]
class_mapping = df_rated_movies[selected_genres + ['class']].drop_duplicates().sort_values('class').set_index('class')    # mapping of drama ,comedy movie to respective class
classes = class_mapping.index.tolist()

selected_columns = ['movie_id','rating','class']
df_rated_movies = df_rated_movies[selected_columns]
df_rated_movies

Most Popular user # 450  are  ['Drama', 'Comedy']

     movie_id  rating  class
0           1       1      1
1           2       1      0
2           3       1      0
3           4       0      3
4           7       1      2
..        ...     ...    ...
535      1480       0      1
536      1490       0      1
537      1518       1      2
538      1521       0      1
539      1603       0      2

[540 rows x 3 columns]

In [17]:
N = 3

In [18]:
df_interested = df_rated_movies.copy()
df_interested['F'] = df_interested['rating'].apply(lambda x : 1 if x > 0 else 0)
df_interested = df_interested[df_interested['F'] > 0].drop('F',axis=1)
df_interested

     movie_id  rating  class  mask
0           1       1      1     1
1           2       1      0     1
2           3       1      0     1
4           7       1      2     1
5          10       1      2     1
..        ...     ...    ...   ...
529      1425       1      3     1
530      1435       1      1     1
532      1444       1      1     1
533      1446       1      1     1
537      1518       1      2     1

[378 rows x 4 columns]

In [19]:

def feedback(P,feedback_values, t):                      # instead of actual fut definition, its changed a bit, i.e. if in the selected list there is a movie user likes then it is feedback is 1 else 0
    value = 0
    if (P['rating'] > 0).any() :
        value = 1
    feedback_values.insert(t,value)
    return feedback_values

In [20]:
def generate(state,old_movies): 
    movie_ids = []
    for _class in state.index : 
        df_temp = df_rated_movies[(df_rated_movies['mask'] == 1)][df_rated_movies['class'] == _class].sample(n = int(state[_class])+1)
        movie_ids = movie_ids + df_temp['movie_id'].to_list()
        
    if len(movie_ids) < N : 
        diff = N - len(movie_ids)
        additional_ids = df_rated_movies[df_rated_movies['mask'] == 1][~df_rated_movies['movie_id'].isin(movie_ids)].sample(n = diff)['movie_id'].tolist()
        movie_ids = movie_ids + additional_ids
    df_candidates = df_rated_movies[df_rated_movies['movie_id'].isin(movie_ids)]
   
    if maths.random.random() > 0.08 :                        # exploitation
        df_candidates = df_candidates.iloc[:N]
    else : df_candidates = df_candidates.sample(n = N)      # exploration
    df_candidates = df_candidates.drop('mask',axis = 1) 
    df_interested[df_interested['movie_id'].isin(movie_ids)]['mask'] = 0
    df_rated_movies[df_rated_movies['movie_id'].isin(old_movies)]['mask'] = 1
    return df_candidates,movie_ids

In [21]:
def find_rewards(values,rewards, feedback_value):
    gamma = 0.2
    if feedback_value > 0 : value = 1 
    else : value = -0.2  
    values.append(value*gamma**t)
    rewards.append(sum(values[:t]))
    return values, rewards

In [22]:
def transition(P,old_state):                              #equivalent to the RNN function. So it is the most complex and challenging function
    alpha = 0.6
    next_state = (P[P['rating'] > 0]['class'].value_counts()*alpha + old_state * (1-alpha)).fillna(0)
    next_state = next_state / next_state.sum()
    next_state = next_state * N
    if next_state.sum() < N :
        next_state = old_state
    # print(next_state)
    
    return next_state

In [23]:
df_rated_movies.groupby('class').agg({'rating':lambda x:x.sum()})

       rating
class
0         128
1         103
2         215
3          21

In [ ]:
def restart():
    t = 0 
    df_rated_movies['mask'] = 1
    rewards = []
    values = []
    feedback_values = [0]
    old_movies = []
    states = []
    
    initial_state = df_interested['class'].value_counts(normalize = True)*N   # State Space ( discrete :-) ) [Out of 10 items , how many belong to each class is each state. That is four non-negative integers add upto 10]. 286 ways are there.
    P , old_movies = generate(initial_state, old_movies)   # Action Space ( discrete :-) )
    states.append(initial_state)
    
    values , rewards = find_rewards(values , rewards, feedback_values[t])
    return rewards, values, feedback_values, old_movies, states, initial_state, P

In [103]:
rewards, values, feedback_values, old_movies, states, initial_state, P = rewards, values, feedback_values, old_movies, states, initial_state, P
print(initial_state)

print("Rewards :",rewards[-1])

class
2    1.293651
0    0.825397
1    0.746032
3    0.134921
Name: proportion, dtype: float64
Rewards : 0

# Value Iteration

In [11]:
def transition(P,old_state):
    next_state = P[P['rating'] > 0]['class'].value_counts(normalize = True)
    next_state = next_state * N
    if next_state.sum() < N : next_state = old_state
    
    return next_state

# Policy Iteration

In [26]:
while t <= len(df_interested) :
    t = t + 1
    feedback_values = feedback(P,feedback_values,t)
    state = transition(P,states[t-1])
    states.append(state)
    P , old_movies = generate(state,old_movies) 
    feedback_values = feedback(P,feedback_values,t)
    
    values , rewards = find_rewards(values , rewards, feedback_values[t])


print("Rewards :",rewards[-1])
# print(state)

Rewards : 0.04999999999999999

In [14]:
states

[class
 2    4.312169
 0    2.751323
 1    2.486772
 3    0.449735
 Name: proportion, dtype: float64,
 class
 0    3.364842
 1    1.849988
 2    4.785171
 3    0.000000
 dtype: float64,
 class
 0    3.364842
 1    1.849988
 2    4.785171
 3    0.000000
 dtype: float64,
 class
 0    3.985039
 1    2.063825
 2    3.951136
 3    0.000000
 dtype: float64,
 class
 0    4.139043
 1    1.738451
 2    3.390798
 3    0.731707
 dtype: float64,
 class
 0    4.139043
 1    1.738451
 2    3.390798
 3    0.731707
 dtype: float64,
 class
 0    4.214168
 1    1.579732
 2    3.117463
 3    1.088638
 dtype: float64,
 class
 0    0.000000
 1    4.281246
 2    5.718754
 3    0.000000
 dtype: float64,
 class
 0    0.638298
 1    3.736700
 2    5.625002
 3    0.000000
 dtype: float64,
 class
 0    0.909914
 1    2.866681
 2    5.585107
 3    0.638298
 dtype: float64,
 class
 0    0.000000
 1    2.229026
 2    6.679454
 3    1.091520
 dtype: float64,
 class
 0    0.681818
 1    1.695012
 2    6.445206
 3    1.177964
 dtype: float64,
 class
 0    0.928433
 1    1.997877
 2    5.934130
 3    1.139559
 dtype: float64,
 class
 0     0.0
 1     0.0
 2    10.0
 3     0.0
 dtype: float64,
 class
 0    0.000000
 1    0.731707
 2    9.268293
 3    0.000000
 dtype: float64,
 class
 0     0.0
 1     0.0
 2    10.0
 3     0.0
 dtype: float64,
 class
 0    0.638298
 1    0.000000
 2    9.361702
 3    0.000000
 dtype: float64,
 class
 0    1.12542
 1    0.00000
 2    8.87458
 3    0.00000
 dtype: float64,
 class
 0     0.0
 1     0.0
 2    10.0
 3     0.0
 dtype: float64,
 class
 0    0.638298
 1    0.638298
 2    8.085106
 3    0.638298
 dtype: float64,
 class
 0    0.971954
 1    0.971954
 2    7.084139
 3    0.971954
 dtype: float64,
 class
 0    1.265848
 1    1.265848
 2    7.468304
 3    0.000000
 dtype: float64,
 class
 0    1.455709
 1    2.245183
 2    6.299108
 3    0.000000
 dtype: float64,
 class
 0     0.0
 1     0.0
 2    10.0
 3     0.0
 dtype: float64,
 class
 0    0.000000
 1    0.000000
 2    9.268293
 3    0.731707
 dtype: float64,
 class
 0    0.638298
 1    0.000000
 2    8.412039
 3    0.949663
 dtype: float64,
 class
 0    1.015802
 1    0.712578
 2    8.271620
 3    0.000000
 dtype: float64,
 class
 0    1.958928
 1    1.079306
 2    6.961766
 3    0.000000
 dtype: float64,
 class
 0    1.572240
 1    1.172412
 2    7.255348
 3    0.000000
 dtype: float64,
 class
 0    2.230361
 1    1.303616
 2    6.466023
 3    0.000000
 dtype: float64,
 class
 0    2.230361
 1    1.303616
 2    6.466023
 3    0.000000
 dtype: float64,
 class
 0    3.803241
 1    0.000000
 2    5.349129
 3    0.847631
 dtype: float64,
 class
 0    2.791179
 1    0.000000
 2    5.973226
 3    1.235595
 dtype: float64,
 class
 0    2.791179
 1    0.000000
 2    5.973226
 3    1.235595
 dtype: float64,
 class
 0    2.227517
 1    0.778638
 2    6.993845
 3    0.000000
 dtype: float64,
 class
 0    2.130010
 1    1.302079
 2    6.567911
 3    0.000000
 dtype: float64,
 class
 0    1.910531
 1    1.474778
 2    6.614690
 3    0.000000
 dtype: float64,
 class
 0    2.395381
 1    1.451111
 2    5.421800
 3    0.731707
 dtype: float64,
 class
 0    2.81923
 1    0.00000
 2    7.18077
 3    0.00000
 dtype: float64,
 class
 0    2.106941
 1    0.731707
 2    6.429644
 3    0.731707
 dtype: float64,
 class
 0    3.106475
 1    1.049312
 2    5.844213
 3    0.000000
 dtype: float64,
 class
 0    2.424460
 1    1.341743
 2    6.233796
 3    0.000000
 dtype: float64,
 class
 0    1.914371
 1    1.386216
 2    6.699413
 3    0.000000
 dtype: float64,
 class
 0    1.551987
 1    1.311916
 2    7.136097
 3    0.000000
 dtype: float64,
 class
 0    1.606309
 1    1.479956
 2    6.913735
 3    0.000000
 dtype: float64,
 class
 0    1.515273
 1    1.453637
 2    7.031090
 3    0.000000
 dtype: float64,
 class
 0    2.197602
 1    0.000000
 2    7.072342
 3    0.730056
 dtype: float64,
 class
 0    2.443637
 1    0.000000
 2    7.556363
 3    0.000000
 dtype: float64,
 class
 0    2.075598
 1    0.789474
 2    6.345454
 3    0.789474
 dtype: float64,
 class
 0    1.814055
 1    1.161549
 2    7.024396
 3    0.000000
 dtype: float64,
 class
 0    1.814055
 1    1.161549
 2    7.024396
 3    0.000000
 dtype: float64,
 class
 0    1.506389
 1    1.209795
 2    7.283816
 3    0.000000
 dtype: float64,
 class
 0    1.582310
 1    1.426208
 2    6.991482
 3    0.000000
 dtype: float64,
 class
 0    1.503566
 1    1.427418
 2    7.069016
 3    0.000000
 dtype: float64,
 class
 0    1.503566
 1    1.427418
 2    7.069016
 3    0.000000
 dtype: float64,
 class
 0    2.196861
 1    2.159716
 2    5.643422
 3    0.000000
 dtype: float64,
 class
 0    2.362210
 1    2.345326
 2    5.292465
 3    0.000000
 dtype: float64,
 class
 0    2.615712
 1    1.875769
 2    4.776812
 3    0.731707
 dtype: float64,
 class
 0    4.340828
 1    0.000000
 2    5.659172
 3    0.000000
 dtype: float64,
 class
 0    4.018558
 1    0.000000
 2    5.299624
 3    0.681818
 dtype: float64,
 class
 0    5.469188
 1    0.000000
 2    4.530812
 3    0.000000
 dtype: float64,
 class
 0    5.246941
 1    0.000000
 2    4.753059
 3    0.000000
 dtype: float64,
 class
 0    6.708916
 1    0.000000
 2    3.291084
 3    0.000000
 dtype: float64,
 class
 0    6.931179
 1    0.000000
 2    3.068821
 3    0.000000
 dtype: float64,
 class
 0    6.016410
 1    0.000000
 2    3.194116
 3    0.789474
 dtype: float64,
 class
 0    6.016410
 1    0.000000
 2    3.194116
 3    0.789474
 dtype: float64,
 class
 0    7.079697
 1    0.000000
 2    2.920303
 3    0.000000
 dtype: float64,
 class
 0    5.648633
 1    0.731707
 2    2.887953
 3    0.731707
 dtype: float64,
 class
 0    5.78712
 1    0.00000
 2    4.21288
 3    0.00000
 dtype: float64,
 class
 0    5.018107
 1    0.731707
 2    3.518478
 3    0.731707
 dtype: float64,
 class
 0    5.573626
 1    0.000000
 2    3.297441
 3    1.128933
 dtype: float64,
 class
 0    4.182257
 1    0.000000
 2    4.535337
 3    1.282406
 dtype: float64,
 class
 0    4.235247
 1    0.731707
 2    3.675774
 3    1.357271
 dtype: float64,
 class
 0    3.717126
 1    0.949663
 2    3.479053
 3    1.854158
 dtype: float64,
 class
 0    3.717126
 1    0.949663
 2    3.479053
 3    1.854158
 dtype: float64,
 class
 0    4.643447
 1    0.000000
 2    5.356553
 3    0.000000
 dtype: float64,
 class
 0    4.81234
 1    0.00000
 2    5.18766
 3    0.00000
 dtype: float64,
 class
 0    4.914700
 1    0.681818
 2    4.403482
 3    0.000000
 dtype: float64,
 class
 0    3.993656
 1    0.000000
 2    5.249463
 3    0.756881
 dtype: float64,
 class
 0    3.542326
 1    0.000000
 2    6.457674
 3    0.000000
 dtype: float64,
 class
 0    3.191378
 1    0.731707
 2    6.076914
 3    0.000000
 dtype: float64,
 class
 0    3.890765
 1    0.000000
 2    5.350444
 3    0.758791
 dtype: float64,
 class
 0    3.890765
 1    0.000000
 2    5.350444
 3    0.758791
 dtype: float64,
 class
 0    3.890765
 1    0.000000
 2    5.350444
 3    0.758791
 dtype: float64,
 class
 0    4.656404
 1    0.000000
 2    5.343596
 3    0.000000
 dtype: float64,
 class
 0    4.843820
 1    0.681818
 2    3.792544
 3    0.681818
 dtype: float64,
 class
 0    4.714772
 1    1.100917
 2    4.184311
 3    0.000000
 dtype: float64,
 class
 0    4.714772
 1    1.100917
 2    4.184311
 3    0.000000
 dtype: float64,
 class
 0    4.750107
 1    0.000000
 2    5.249893
 3    0.000000
 dtype: float64,
 class
 0    4.886412
 1    0.000000
 2    5.113588
 3    0.000000
 dtype: float64,
 class
 0    4.886412
 1    0.000000
 2    5.113588
 3    0.000000
 dtype: float64,
 class
 0    4.948369
 1    0.681818
 2    3.687994
 3    0.681818
 dtype: float64,
 class
 0    4.93739
 1    0.00000
 2    5.06261
 3    0.00000
 dtype: float64,
 class
 0    4.289723
 1    0.681818
 2    4.346641
 3    0.681818
 dtype: float64,
 class
 0    4.289723
 1    0.681818
 2    4.346641
 3    0.681818
 dtype: float64,
 class
 0    4.593204
 1    0.000000
 2    5.406796
 3    0.000000
 dtype: float64,
 class
 0    4.507747
 1    0.638298
 2    4.215658
 3    0.638298
 dtype: float64,
 class
 0    4.471381
 1    0.909914
 2    3.708791
 3    0.909914
 dtype: float64,
 class
 0    4.965073
 1    1.142676
 2    3.892251
 3    0.000000
 dtype: float64,
 class
 0    4.665988
 1    1.762841
 2    3.571171
 3    0.000000
 dtype: float64,
 class
 0    4.848177
 1    2.164928
 2    2.986896
 3    0.000000
 dtype: float64,
 class
 0    4.930989
 1    2.347694
 2    2.721316
 3    0.000000
 dtype: float64,
 class
 0    5.23418
 1    0.00000
 2    4.76582
 3    0.00000
 dtype: float64,
 class
 0    5.693672
 1    0.600000
 2    3.706328
 3    0.000000
 dtype: float64,
 class
 0    5.540039
 1    0.000000
 2    4.459961
 3    0.000000
 dtype: float64,
 class
 0    5.548953
 1    0.000000
 2    4.451047
 3    0.000000
 dtype: float64,
 class
 0    4.567706
 1    0.000000
 2    4.750476
 3    0.681818
 dtype: float64,
 class
 0    3.983003
 1    0.000000
 2    4.868672
 3    1.148325
 dtype: float64,
 class
 0    3.983003
 1    0.000000
 2    4.868672
 3    1.148325
 dtype: float64,
 class
 0    4.537729
 1    0.681818
 2    3.576669
 3    1.203784
 dtype: float64,
 class
 0    4.933748
 1    0.000000
 2    3.590241
 3    1.476011
 dtype: float64,
 class
 0    4.601828
 1    0.000000
 2    3.946459
 3    1.451713
 dtype: float64,
 class
 0    4.240731
 1    0.600000
 2    3.978584
 3    1.180685
 dtype: float64,
 class
 0    4.905201
 1    1.178496
 2    3.916303
 3    0.000000
 dtype: float64,
 class
 0    4.956909
 1    1.217498
 2    3.143774
 3    0.681818
 dtype: float64,
 class
 0    4.652977
 1    0.000000
 2    5.347023
 3    0.000000
 dtype: float64,
 class
 0    4.027883
 1    0.000000
 2    5.972117
 3    0.000000
 dtype: float64,
 class
 0    3.876310
 1    0.681818
 2    5.441871
 3    0.000000
 dtype: float64,
 class
 0    4.328264
 1    0.000000
 2    5.014366
 3    0.657371
 dtype: float64,
 class
 0    3.995209
 1    0.817767
 2    5.187024
 3    0.000000
 dtype: float64,
 class
 0    3.614982
 1    0.986284
 2    4.760436
 3    0.638298
 dtype: float64,
 class
 0    3.453184
 1    1.057993
 2    4.578909
 3    0.909914
 dtype: float64,
 class
 0    3.294107
 1    1.305759
 2    5.400134
 3    0.000000
 dtype: float64,
 class
 0    3.802003
 1    1.368663
 2    4.829334
 3    0.000000
 dtype: float64,
 class
 0    4.171065
 1    1.859006
 2    3.969929
 3    0.000000
 dtype: float64,
 class
 0    4.068426
 1    1.943602
 2    3.987972
 3    0.000000
 dtype: float64,
 class
 0    3.720224
 1    1.812422
 2    3.677880
 3    0.789474
 dtype: float64,
 class
 0    3.720224
 1    1.812422
 2    3.677880
 3    0.789474
 dtype: float64,
 class
 0    3.690297
 1    1.818960
 2    4.490743
 3    0.000000
 dtype: float64,
 class
 0    3.995267
 1    1.619005
 2    4.385728
 3    0.000000
 dtype: float64,
 class
 0    3.704925
 1    0.000000
 2    5.500626
 3    0.794450
 dtype: float64,
 class
 0    3.869235
 1    0.707362
 2    5.423403
 3    0.000000
 dtype: float64,
 class
 0    3.869235
 1    0.707362
 2    5.423403
 3    0.000000
 dtype: float64,
 class
 0    3.350846
 1    1.076762
 2    4.840685
 3    0.731707
 dtype: float64,
 class
 0    4.106960
 1    1.790544
 2    4.102497
 3    0.000000
 dtype: float64,
 class
 0    4.106960
 1    1.790544
 2    4.102497
 3    0.000000
 dtype: float64,
 class
 0    4.300834
 1    1.400231
 2    4.298935
 3    0.000000
 dtype: float64,
 class
 0    4.383334
 1    1.872439
 2    3.744228
 3    0.000000
 dtype: float64,
 class
 0    5.684402
 1    0.000000
 2    4.315598
 3    0.000000
 dtype: float64,
 class
 0    4.968001
 1    0.000000
 2    5.031999
 3    0.000000
 dtype: float64,
 class
 0    4.193685
 1    0.789474
 2    5.016842
 3    0.000000
 dtype: float64,
 class
 0    4.193685
 1    0.789474
 2    5.016842
 3    0.000000
 dtype: float64,
 class
 0    4.098760
 1    0.000000
 2    5.194044
 3    0.707196
 dtype: float64,
 class
 0    5.102238
 1    0.757851
 2    4.139911
 3    0.000000
 dtype: float64,
 class
 0    4.863826
 1    0.000000
 2    5.136174
 3    0.000000
 dtype: float64,
 class
 0    3.836013
 1    0.731707
 2    5.432280
 3    0.000000
 dtype: float64,
 class
 0    3.182204
 1    0.000000
 2    6.817796
 3    0.000000
 dtype: float64,
 class
 0    3.182204
 1    0.000000
 2    6.817796
 3    0.000000
 dtype: float64,
 class
 0    4.043265
 1    0.789474
 2    4.377787
 3    0.789474
 dtype: float64,
 class
 0    3.320646
 1    0.000000
 2    5.599949
 3    1.079404
 dtype: float64,
 class
 0    3.554839
 1    0.681818
 2    4.590886
 3    1.172457
 dtype: float64,
 class
 0    4.18954
 1    0.00000
 2    5.81046
 3    0.00000
 dtype: float64,
 class
 0    3.783968
 1    0.789474
 2    5.426558
 3    0.000000
 dtype: float64,
 class
 0    4.040960
 1    1.116816
 2    4.842223
 3    0.000000
 dtype: float64,
 class
 0    4.040960
 1    1.116816
 2    4.842223
 3    0.000000
 dtype: float64,
 class
 0    5.61475
 1    0.00000
 2    4.38525
 3    0.00000
 dtype: float64,
 class
 0    4.597614
 1    0.681818
 2    4.038750
 3    0.681818
 dtype: float64,
 class
 0    5.637958
 1    0.000000
 2    4.362042
 3    0.000000
 dtype: float64,
 class
 0    5.637958
 1    0.000000
 2    4.362042
 3    0.000000
 dtype: float64,
 class
 0    5.637958
 1    0.000000
 2    4.362042
 3    0.000000
 dtype: float64,
 class
 0    5.637958
 1    0.000000
 2    4.362042
 3    0.000000
 dtype: float64,
 class
 0    4.608163
 1    0.000000
 2    5.391837
 3    0.000000
 dtype: float64,
 class
 0    3.711299
 1    0.731707
 2    5.556994
 3    0.000000
 dtype: float64,
 class
 0    3.273804
 1    1.088638
 2    5.637558
 3    0.000000
 dtype: float64,
 class
 0    5.177610
 1    0.000000
 2    3.984933
 3    0.837457
 dtype: float64,
 class
 0    5.684722
 1    0.762872
 2    3.552406
 3    0.000000
 dtype: float64,
 class
 0    5.584609
 1    0.000000
 2    4.415391
 3    0.000000
 dtype: float64,
 class
 0    4.518215
 1    0.000000
 2    5.481785
 3    0.000000
 dtype: float64,
 class
 0    4.781007
 1    0.681818
 2    4.537175
 3    0.000000
 dtype: float64,
 class
 0    4.587662
 1    0.928433
 2    3.845606
 3    0.638298
 dtype: float64,
 class
 0    5.028708
 1    0.000000
 2    3.788054
 3    1.183239
 dtype: float64,
 class
 0    5.297994
 1    0.720573
 2    3.981433
 3    0.000000
 dtype: float64,
 class
 0    5.297994
 1    0.720573
 2    3.981433
 3    0.000000
 dtype: float64,
 class
 0    5.297994
 1    0.720573
 2    3.981433
 3    0.000000
 dtype: float64,
 class
 0    5.711993
 1    0.000000
 2    4.288007
 3    0.000000
 dtype: float64,
 class
 0    3.959997
 1    0.681818
 2    4.676367
 3    0.681818
 dtype: float64,
 class
 0    3.511925
 1    1.100917
 2    5.387158
 3    0.000000
 dtype: float64,
 class
 0    3.511925
 1    1.100917
 2    5.387158
 3    0.000000
 dtype: float64,
 class
 0    2.959966
 1    1.864053
 2    5.175981
 3    0.000000
 dtype: float64,
 class
 0    2.709075
 1    1.529115
 2    5.079991
 3    0.681818
 dtype: float64,
 class
 0    2.784915
 1    2.209324
 2    3.941459
 3    1.064302
 dtype: float64,
 class
 0    2.204662
 1    2.680287
 2    5.115051
 3    0.000000
 dtype: float64,
 class
 0    0.000000
 1    2.869507
 2    7.130493
 3    0.000000
 dtype: float64,
 class
 0    0.000000
 1    2.869507
 2    7.130493
 3    0.000000
 dtype: float64,
 class
 0    1.142379
 1    0.000000
 2    8.857621
 3    0.000000
 dtype: float64,
 class
 0    1.201081
 1    0.681818
 2    8.117100
 3    0.000000
 dtype: float64,
 class
 0    2.293394
 1    0.000000
 2    6.887747
 3    0.818859
 dtype: float64,
 class
 0    2.293394
 1    0.000000
 2    6.887747
 3    0.818859
 dtype: float64,
 class
 0    2.293394
 1    0.000000
 2    6.887747
 3    0.818859
 dtype: float64,
 class
 0    1.724270
 1    0.681818
 2    6.539885
 3    1.054027
 dtype: float64,
 class
 0    0.000000
 1    0.000000
 2    7.888172
 3    2.111828
 dtype: float64,
 class
 0    0.000000
 1    0.638298
 2    7.186456
 3    2.175246
 dtype: float64,
 class
 0    0.638298
 1    0.909914
 2    6.887854
 3    1.563935
 dtype: float64,
 class
 0    0.909914
 1    1.025495
 2    6.122491
 3    1.942100
 dtype: float64,
 class
 0    0.000000
 1    1.563969
 2    8.436031
 3    0.000000
 dtype: float64,
 class
 0    0.638298
 1    1.303817
 2    8.057885
 3    0.000000
 dtype: float64,
 class
 0    1.113918
 1    0.000000
 2    8.886082
 3    0.000000
 dtype: float64,
 class
 0     0.0
 1     0.0
 2    10.0
 3     0.0
 dtype: float64,
 class
 0    0.000000
 1    0.638298
 2    9.361702
 3    0.000000
 dtype: float64,
 class
 0    0.600000
 1    0.855319
 2    7.944681
 3    0.600000
 dtype: float64,
 class
 0    1.261664
 1    0.000000
 2    7.476671
 3    1.261664
 dtype: float64,
 class
 0    2.624446
 1    0.000000
 2    7.375554
 3    0.000000
 dtype: float64,
 class
 0    2.624446
 1    0.000000
 2    7.375554
 3    0.000000
 dtype: float64,
 class
 0    3.031679
 1    0.000000
 2    6.330023
 3    0.638298
 dtype: float64,
 class
 0    3.525786
 1    0.702191
 2    5.772023
 3    0.000000
 dtype: float64,
 class
 0    3.56643
 1    0.00000
 2    6.43357
 3    0.00000
 dtype: float64,
 class
 0    3.666559
 1    0.681818
 2    4.969804
 3    0.681818
 dtype: float64,
 class
 0    4.236341
 1    0.000000
 2    4.807484
 3    0.956175
 dtype: float64,
 class
 0    4.993337
 1    0.000000
 2    3.808529
 3    1.198134
 dtype: float64,
 class
 0    4.207019
 1    0.000000
 2    4.372910
 3    1.420071
 dtype: float64,
 class
 0    4.343413
 1    0.000000
 2    4.414004
 3    1.242583
 dtype: float64,
 class
 0    4.343413
 1    0.000000
 2    4.414004
 3    1.242583
 dtype: float64,
 class
 0    3.763154
 1    0.638298
 2    4.431491
 3    1.167057
 dtype: float64,
 class
 0    3.966388
 1    1.026402
 2    5.007209
 3    0.000000
 dtype: float64,
 class
 0    3.602718
 1    1.075065
 2    5.322217
 3    0.000000
 dtype: float64,
 class
 0    4.520361
 1    0.000000
 2    5.479639
 3    0.000000
 dtype: float64,
 class
 0    4.400176
 1    0.000000
 2    4.868116
 3    0.731707
 dtype: float64,
 class
 0    5.595266
 1    0.000000
 2    4.404734
 3    0.000000
 dtype: float64,
 class
 0    6.634212
 1    0.000000
 2    2.683970
 3    0.681818
 dtype: float64,
 class
 0    5.926496
 1    0.703625
 2    3.369879
 3    0.000000
 dtype: float64,
 class
 0    5.926496
 1    0.703625
 2    3.369879
 3    0.000000
 dtype: float64,
 class
 0    6.304592
 1    0.000000
 2    3.695408
 3    0.000000
 dtype: float64,
 class
 0    6.274815
 1    0.000000
 2    3.725185
 3    0.000000
 dtype: float64,
 class
 0    6.261279
 1    0.000000
 2    3.738721
 3    0.000000
 dtype: float64,
 class
 0    6.453305
 1    0.000000
 2    3.546695
 3    0.000000
 dtype: float64,
 class
 0    4.978775
 1    0.681818
 2    3.657589
 3    0.681818
 dtype: float64,
 class
 0    5.149958
 1    1.023454
 2    3.826587
 3    0.000000
 dtype: float64,
 class
 0    4.459983
 1    1.009382
 2    3.930635
 3    0.600000
 dtype: float64,
 class
 0    7.812101
 1    2.187899
 2    0.000000
 3    0.000000
 dtype: float64,
 class
 0    7.32484
 1    2.07516
 2    0.00000
 3    0.60000
 dtype: float64,
 class
 0    6.738564
 1    2.306891
 2    0.000000
 3    0.954545
 dtype: float64,
 class
 0    7.284847
 1    2.715153
 2    0.000000
 3    0.000000
 dtype: float64,
 class
 0    7.113939
 1    2.286061
 2    0.600000
 3    0.000000
 dtype: float64,
 class
 0    10.0
 1     0.0
 2     0.0
 3     0.0
 dtype: float64,
 class
 0    9.210526
 1    0.000000
 2    0.789474
 3    0.000000
 dtype: float64,
 class
 0    8.883184
 1    0.000000
 2    1.116816
 3    0.000000
 dtype: float64,
 class
 0    8.248163
 1    0.000000
 2    1.751837
 3    0.000000
 dtype: float64,
 class
 0    8.260684
 1    0.869658
 2    0.000000
 3    0.869658
 dtype: float64,
 class
 0    8.260684
 1    0.869658
 2    0.000000
 3    0.869658
 dtype: float64,
 class
 0    7.442452
 1    1.566163

In [15]:
sum(feedback_values)/len(feedback_values)

0.9986824769433466

In [16]:
rewards

[0,
 -0.2,
 0.0,
 0.04000000000000001,
 0.04800000000000001,
 0.049600000000000005,
 0.049920000000000006,
 0.04998400000000001,
 0.04999680000000001,
 0.04999936000000001,
 0.04999987200000001,
 0.04999997440000001,
 0.04999999488000001,
 0.04999999897600001,
 0.049999999795200006,
 0.049999999959040003,
 0.049999999991808,
 0.0499999999983616,
 0.04999999999967232,
 0.049999999999934465,
 0.049999999999986895,
 0.04999999999999738,
 0.049999999999999475,
 0.04999999999999989,
 0.049999999999999975,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999,
 0.04999999999999999]